@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Marker+Hatch&display=swap?family=Libre+Baskerville&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #120907;
  font-size: 14px;
}

a {
  color: #120907;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

/*Barra de Navegação*/

#header {
  background-color: #4286f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  font-size: 3rem;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

#menu {
  display: flex;
  list-style: none;
  padding: 20px;
  gap: 1.5rem;
  box-sizing: border-box;
}

#menu a {
  font-size: 1.5rem;
  transition: .5s;
}

#menu a:hover {
  background: #FFFFFF;
  padding: 5px;
  border-radius: 10px 20px 10px 20px;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #4286f4;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid #FFFFFF;
  }
  #btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }
  #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after, #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #120907;
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/*slider*/

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 100vh;
}

.carousel-indicators .active {
  background-color: #4286f4;
}

/*sobre a loja*/

#about-area {
  background-color: #F9F9F9;
}

.main-title {
  color: #4286f4;
  margin: 0 0 65px 0;
  font-size: 40px;
  text-align: center;
  font-family: 'Libre Baskerville', sans-serif;
}

.about-title {
  font-size: 25px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.about-text {
  font-size: 19px;
}

#about-img {
  height: 350px;
  width: 900px;
  border-radius: 8px;
}

/*Serviços*/

.service-box {
  text-align: center;
  margin-bottom: 50px;
}

.service-box i, .service-box h4 {
  transition: .5s;
}

.service-box i {
  font-size: 36px;
  margin-bottom: 20px;
  color: #192440;
}

.service-box h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
  color: #65DAF9;
}

/*Produtos*/

.card-body {
  text-align: center;
}

/*news latter*/
#news-area {
  text-align: center;
  background-color: #F9F9F9;
}

#news-area p {
  font-size: 18px;
  margin-bottom: 40px;
}

#email-input {
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #4286f4;
  display: inline;
  width: 40%;
  height: 40px;
}

#news-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #4286f4;
  background-color: #4286f4;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 40px;
  padding: 0 30px;
  margin-left: -130px;
  position: absolute;
  transition: .5s;
}

#news-btn:hover {
  background-color: #FFFFFF;
  color: #4286f4;
}

/*call to action*/

#call-area {
  background-color: #4286f4;
  text-transform: uppercase;
}

#call-area .container {
  padding: 40px 100px;
}

#call-area .row {
  display: block;
  text-align: center;
}

#call-area p {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  width: auto;
  letter-spacing: 2px;
  margin-bottom: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}

#call-area #call-btn {
  background-color: #FFFFFF;
  color: #4286f4;
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  width: auto;
  letter-spacing: 2px;
}

.btn-call {
  width: 150px;
  height: 50px;
  background-color: #4286f4;
  border: none;
  border-radius: 0 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/*footer*/

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #4286f4;
}

.contact-box i {
  color: #192440;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-title {
  font-weight: bold;
  color: #4286f4;
  margin-right: .5rem;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 40px;
  background-color: #4286f4;
  border: none;
  cursor: pointer;
  transition: .3s;
}

#contact-form .main-btn:hover {
  transform: scale(1.1);
  background-color: transparent;
  color: #120907;
  border: 2px solid #4286f4;
}

/*copy*/ 

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

/*responsive*/

@media (max-width: 768px) {
  #menu a {
    font-size: 1rem;
  }
  .container {
    padding: 20px 0;
  }
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #about-area #about-text {
    margin-top: 40px;
  }

  .card-title {
    font-size: 14px;
  }
  
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #email-input {
    width: 70%;
  }
  #call-area {
    margin-top: 30px;
  }
  #call-area .container {
    padding: 30px;
  }
  #call-area p, #call-area #call-btn {
    font-size: 14px;
  }
  .contact-box p {
    font-size: 12px;
  }
  .contact-title {
    font-size: 12px;
    margin-right: .3rem;
  }
}

@media (max-width: 425px) {
  #mainSlider {
    margin-top: 1px;
  }
  #about-area .main-title {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #service-area .service-box {
    margin-bottom: 10px;
  }

  #produtos-area .main-title {
    margin-bottom: 25px;
  }

  #produtos-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  #news-area .main-title {
    font-size: 24px;
  }
  #news-area p {
    font-size: 16px;
  }
  #email-input {
    width: 80%;
  }

  #call-area p, #call-area #call-btn {
    font-size: 13px;
    letter-spacing: 0;
    margin: 0;
    width: 50%;
  }   
}