@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:wght@700 & family= Source+Serif+4 & display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.topo-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #00008B;
  width: 100%;
  height: 100px;
  border-bottom: 1.5px solid #ffffff;
}

.logo button {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 40px;
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 25px;
}

.logo button:hover {
 transform: scale(1.1);
}

.menu a {
  color: #ffffff;
  font-size: 18px;
  padding: 20px;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
}

.menu a:hover {
  color: black;
  border-bottom: 1px solid #ffffff;
}

.button button{
  padding: 10px;
  border: 0;
  border-radius: 4px;
  color: #000;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400 bold;
  margin-right: 14px;
  cursor: pointer;
}

.button button:hover {
  transform: scale(1.1);
  background-color: #000;
  color: #ffffff;
  transition: 0.5s;
}

.social img {
  width: 25px;
  height: 25px;
  margin-right: 14px;
}

.social img:hover {
  transform: scale(1.1);
}

.topo-conteudo img {
  width: 100%;
  height: 500px;
  border-bottom: 1.5px solid #ffffff;
}

.produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background-color: #00008B;
}

.produtos img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.produtos h1 {
  color: #ffffff;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 400;
  font-size: 30px;
}