@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Marker+Hatch&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

#logo {
  font-family: 'Rubik Marker Hatch', cursive;
  font-weight: 500;
  font-size: 45px;
}

#menu-link {
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
}

#mobile-links a {
  font-family: 'Rubik Marker Hatch', cursive;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2px;
}

.loja-virtual {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.loja-virtual h1 {
  color: #ffffff;
  margin-left: 120px;
  padding-top: 50px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .loja-virtual h1 {
    margin-left: 70px;
  }
}

.loja-virtual button {
  margin-top: 250px;
  margin-left: 190px;
  margin-bottom: 100px;
  padding: 20px;
  border: 0;
  background-color: #ffffff;
  color: #2b261e;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.loja-virtual button:hover {
  transform: scale(1.1);
}

.row {
  margin-left: 20%;
}

@media screen and (max-width: 500px) {
  .row {
    margin-left: 3%;
  }
}

.servico .card {
  height: 450px;
  margin: 40px;
}

#contatos {
 padding: 40px;
}

#contatos .container {
  border-radius: 8px;
  margin-bottom: 30px;
}

.card-action {
  margin-bottom: 30px;
}

.card-action a {
 padding: 5px;
 border-radius: 4px;
 border: none;
 background-color: #ffffff;
 color: #2b261e;
 font-family: 'Roboto', sans-serif;
 font-size: 15px;
 margin-left: 20px; 
 cursor: pointer;
}

footer h4 {
  margin-bottom: 20px;
}

footer a {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.topo {
  background-color: #0d47a1;
  position: fixed;
  bottom: 20px;
  right: -500px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s all;
}

.show-button .topo {
  right: 20px;
  transition: .4s all;
}

.transparente a {
  background: transparent;
}