@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Marker+Hatch&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #120907;
  font-size: 14px;
}

/*Barra de Navegação*/

header, .navbar {
  background-color: #192440;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  width: 75px;
  height: 95px;
}

.navbar-brand {
  padding: 0;
  color: #FFFFFF;
}

.navbar-brand:hover {
  color: #FFFFFF;
}

#navbar-links a {
  color: #FFFFFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/*slider*/

.container-fluid {
  padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
  height: 90vh;
}

.carousel-indicators .active {
  background-color: #192440;
}